extends layout
block content
  h1= title
  - let novels = results
  - let create = `dispatch(\"/novel/create\")`
  button.btn( class="btn-info ml-1", onclick= create) Create
  div(class="container-fluid mt-3")
    div(class="row m-1") 
      each novel ,index in novels
        - let destination = `dispatch(\"/novel/update?id=${novel._id}\")`  
        - let detail = `dispatch(\"/novel/detail/?id=${novel._id}")`
        - let deleteItem = `dispatch(\"/novel/delete/?id=${novel._id}")`
        div(class="col-sm-2", class="m-1")  #{novel.novelName} -  #{novel.novelCost} - #{novel.novelAuthor}

          p 
          button.btn( class="btn-primary ml-1", onclick= destination) Update    
          p 
          button.btn( class="btn-danger ml-1", onclick= detail) Detail
          p 
          button.btn( class="btn-success ml-1", onclick= deleteItem) Delete
              
  
    script.
      function dispatch(path){
        window.location.href=path
      }    